@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Rubik:wght@400;500;600;700&display=swap');:root{
    --primary:#fff;
    --secondary:#F94892;
    --third:#FFA1C9;
    --four:#FBE5E5;
}
body {
    margin: 0;
    padding: 0;
    font-family:"Rubik" !important;
    display: grid;
    grid-template-rows:65px 1fr 65px ;
    height: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
d-flex{
    display: flex;
}

.container{
    max-width:1400px;
    margin: 0 auto;
}
.active a{
    color: #7A0BC0;
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-top: 50px;
}
.card{
    width: 350px;
    margin: 10px 10px;
    padding: 10px;
    height: 300px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #270082;
    border-radius: 0.25rem;
}
.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #e9ecef;
}
#emploee-card{
    padding: 20px;
    margin: 30px 0px;
}
.card img{
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.card-text , .card-title , .card-salary{
    text-align: center;
}
.card-title{
    font-size: 16px;
}
.card-salary{
    margin-top: 15px;
    color: #270082;
}
.section-title{
    text-align: center;
    color: #270082;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 20px;
    border-bottom: 2px solid #270082;
    width: 500px;
}
select {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 0px;
}
#user-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

#user-table td, #user-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#user-table tr:nth-child(even){background-color: #f2f2f2;}

#user-table tr:hover {background-color: #ddd;}

#user-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#270082 ;
    color: white;
}

/* ========== Header =========*/
header{
    background-color: var(--primary);
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 0 10px;
}
header .container{
    height: 100%;
}
.shadow{
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.top-header{
    display: flex;
    align-items: center;
    height: 100%;
}
.logo h5{
    font-family: 'Rubik';
    color: #270082;
    font-size: 25px;
    margin: 0;
}
.header-logo{
    flex-grow: 2;
    display: flex;
}
.header-nav{
    flex-grow: 4;
    display: flex;
    align-items: center;
    justify-content: end;
}
.nav-list{
    list-style: none;
    display: flex;
    margin: 0px 20px;
}
.nav-link{
    text-decoration: none;
    color: #270082;
    margin: 0px  5px;
}
form{
    width: 50%;
    border: 2px solid var(--primary);
    padding: 30px;
    border-radius:6px ;
}
fieldset{
    border-color: #7A0BC0;
    padding: 30px;
}

textarea:focus, input:focus , .form-select:focus{
    outline: solid 1px #7A0BC0;
}
legend{
    color: #7A0BC0;
}
label{
    text-align: center;
    padding: 20px;
    width: 30%;
}
textarea{
    height: 150px;
}

#create-employee-section{
    width: 100%;
    display: flex;
    justify-content: center;

}
#contact-us-section form{

}
.contact-us-title h4{
    color:#7A0BC0 ;
    font-size: 30px ;
    font-weight: 600;
    margin: 0;
}
.form-group {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}
.form-control{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.bd-example>:last-child {
    margin-bottom: 0;
}
.submit-button{
    background-color: #fff;
    border:1px solid #7A0BC0;
    padding: 10px 25px;
    color: #7A0BC0;
    transition: 0.3s ease;
}
.submit-button:hover{
    background-color: #7A0BC0;
    color: #fff;
    cursor: pointer;
}


/*  ========= Footer ==============*/
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    background-color: #270082 ;
}
footer .logo h5{
    color: #fff;
    font-size: 21px;
    font-family: 'Rubik';
    font-weight: 400;
}
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-socail-media ul{
    display: flex
}
.footer-copyright{
    color: #fff;
}
.footer-socail-media a{
    margin: 0px 5px;
    transition: 0.3s ease;
}
.footer-socail-media i:hover{
    color: #7A0BC0;
}
.footer-socail-media i{
    color: #fff;
    font-size: 24px;
}